[submodule "xWalkTool"]
	path = xWalkTool
	url = ../xWalkTool
	branch = master
[submodule "xWalk-rpi5"]
	path = xWalk-rpi5
	url = ../xWalk-rpi5
	branch = master
[submodule "devloper-note"]
	path = devloper-note
	url = ../DevloperNote
	branch = master
